@page
@{
    Layout = "_Layout";

}
<p><img class="img-responsive" src="http://benkotips.blob.core.windows.net/images/AltBannerRoadshow.png" alt="Re-BUILD 2017 Roadshow" /></p>
<p>The &ldquo;<strong>re-BUILD 2017 Roadshow</strong>&rdquo; brings the best of the <a href="http://build.microsoft.com" target="_blank">Build conference</a> to cities across the US. A half day developer focused event in partnership with User Groups and Microsoft Partners will deliver a half day <strong>msdn-event</strong> style experience. There will be 3&nbsp; sessions on Build Highlights, Going Serverless with Azure Functions, and Mobile Center, the next generation of HockeyApp. A HackFest over lunch will cover ad-hoc topics by community leaders and MVP&rsquo;s to share their favorite thing from Build.</p>
<p>The schedule typically includes:</p>
<ul>
    <li>Build 2017 Productivity Features you never knew you had</li>
    <li>Going Serverless with Azure Functions</li>
    <li>Exploring Mobile Center</li>
    <li>Pizza and Hackfest</li>
</ul>
<p>The scheduled cities are listed below with more coming soon!</p>
<ul>
    <li>5/22 &ndash; St Louis <a href="http://bit.ly/bob17stl">http://bit.ly/bob17stl</a></li>
    <li>5/23 &ndash; Kansas City <a href="http://bit.ly/bob17kc">http://bit.ly/bob17kc</a></li>
    <li>5/24 &ndash; Omaha <a href="http://bit.ly/bob17omaha">http://bit.ly/bob17omaha</a></li>
    <li>5/25 &ndash; Des Moines <a href="http://bit.ly/bob17dsm">http://bit.ly/bob17dsm</a></li>
    <li>5/26 &ndash; Minneapolis <a href="http://bit.ly/bob17msp">http://bit.ly/bob17msp</a></li>
    <li>5/31 &ndash; Austin <a href="http://bit.ly/bob17aus">http://bit.ly/bob17aus</a></li>
    <li>6/1 &ndash; Downers Grove <a href="http://bit.ly/bob17dg">http://bit.ly/bob17dg</a></li>
    <li>6/2 - Milwaukee <a href="http://bit.ly/bob17mke">http://bit.ly/bob17mke</a></li>
    <li>6/5 &ndash; New York City&nbsp; <a href="http://bit.ly/bob17nyc">http://bit.ly/bob17nyc</a></li>
    <li>6/7 - Tampa <a href="http://bit.ly/bob17fl">http://bit.ly/bob17fl</a></li>
    <li>6/9 - Atlanta <a href="http://bit.ly/bob17ga">http://bit.ly/bob17ga</a></li>
    <li>6/12 - Portland <a href="http://bit.ly/bob17or">http://bit.ly/bob17or</a></li>
    <li>6/14 - San Diego <a href="http://bit.ly/bob17sd">http://bit.ly/bob17sd</a></li>
    <li>6/15 - Phoenix <a href="http://bit.ly/bob17az">http://bit.ly/bob17az</a></li>
    <li>6/16 - Denver <a href="http://bit.ly/bob17co">http://bit.ly/bob17co</a></li>
</ul>
<p>We'll see you on the road with re-BUILD 2017 Roadshow!</p>
<p>&nbsp;</p>
<img src="~/images/myRoadshowIcon.png" />